
html,body{
    overflow-x: hidden;
}
body {
    padding-top: 0%; /* Adjust this value based on the actual height of your navbar */
}
#mainNavbar + * {
    margin-top: 450px; /* Điều chỉnh giá trị này tùy thuộc vào chiều cao của navbar của bạn */
}

body {
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 100%;
    color: white;
    display: flex;
    height: 100vh;
    background-color: rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
}
#mainNavbar {
    margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1600px;
  background-color: rgb(18, 18, 18);
}
#customSearch {
    border-radius: 25px;
    height: 35px;
    font-size: 12px;
}
.scrollBar {
    margin: 10px 0px 10px;
}
.nav-link {
    margin: 0px 10px;
}
:hover.nav-link {
    color: white;
}
.dropdownIcon {
    align-content: center;
}
.dropdownMenu {
    width: 100%;
    max-width: -moz-available;
    margin: auto;
    background-color: rgb(18, 18, 18);
}
.dropdownItem {
justify-content: flex-start;
display: flex;
border-bottom: 1px solid rgba(255,255,255,0.1);
margin: 15px;
padding-bottom: 5px;
}
.dropThing {
    margin-left: 0px;
    padding-bottom: 5px;
}
@media screen and (max-width: 1100px) {
    .customContainerNav {
      justify-content: center !important    ;
    }
  }
  @media screen and (min-width: 768px) {
    .dropDownShow {
      display: none    ;
    }
}
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: 0; 
}
img {
    width: 100%;
    height: 100%;
    display: block;
}
.bsBook {
    width: 100%;
    width: 1152px;
    height: 340px;
    display: flex;
    gap: 10px;
    background-color: rgb(18, 18, 18);
    
}
.card {
    border: 0px;
    min-width: 70px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    cursor: pointer;
    background-color: rgb(18, 18, 18);
    position: relative;
    transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    transition-timing: 0.35s;
}
.title {
    position: absolute;
}

.card:hover {
    flex-grow: 3;
    filter: brightness(1);
}
.card .background:hover {
    filter: brightness(1);
}

.card .background {
    position: absolute;
    inset: 0;
    object-fit: scale-down;
    object-position: top 10px;
    filter: brightness(0.4);
    transition: var(--transition-timing) ease;
}
img .background {
    width: 100px;        
}
@media screen and (max-width: 768px) {
    .cardPrice {
        font-size: 60%;
    }
    .cardName {
        font-size: 70%;
    }
    .productDescribe {
        font-size: 70%;
    }
    .relatedProduct {
        margin-top: 60% !important;
    }

    .fullProductContainer {
        height: 20%;
        margin-top: 40% !important;
    }
    .addToCart{
        font-size: 50%;
        width: 30%;
        justify-content: center;
        text-align: center;
    }
    .quanityLeft {
        font-size: smaller;
    }
    #Quanity {
        font-size: 50%;
        width: 95%;
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .viewMoreButton {
        margin-bottom: 10px !important;
        font-size: 50% !important;
  border: 0.5px solid !important;
  box-sizing: border-box !important;
  text-align: center !important;
    }

    .footerLink {
        font-size: 10px;
    }

    h3.container-fluid {
        width: 100% !important  ;
    }

    .product-container {
        width: 100% !important;
    }

    .boxSaleOff {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 5px;
        height: 20%;
    }

    .rowThing img {
        height: 101.167px !important;
        width: 65.4667px !important;
        margin-inline: 5.7px !important;
    }

    .rowThing {
        font-size: 60%;
    }

    .customAllContainer {
        
    }

    #sectionBS {
        height: 180px;
        margin-bottom: 0px !important;
    }

    body {
        height: 80vh;
    }

    h3 {
        font-size: 100%;
    }

    .card:hover {
        flex-grow: 4;
        filter: brightness(1);
    }

    .bsBook {
        width: 400.4px;
        margin-inline: 0px;
        gap: 0px;
    }
    .card {
        flex-direction: column;
        border: 0px;
        min-width: 20.54px;
        height: 50%;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        cursor: pointer;
        background-color: rgb(18, 18, 18);
        position: relative;
        transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
        transition-timing: 0.35s;
    }
  }
.customAllContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40%;
}

.product-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    flex-direction: column;
    width: 80%;
}
.product {
    text-align: center;
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.product img {
    width: 80%;
    height: 271.983px;
    cursor: pointer;
}
.rowThing img {
    width: 200px;
    height: 345px;
    cursor: pointer;
    margin-inline: 10px;
    
}
.product-title {
    margin-top: 10px;
    color: whitesmoke;
    cursor: pointer;
   

    
}
.product-price {
    margin-top: 5px;
    color: whitesmoke;
}
.rowThing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
#sectionBS {
    margin-bottom: 50px;
}
h3 {
    cursor: pointer;
}
.saleOffPrice {
    color: rgba(245, 245, 245, 0.6);
    text-decoration: line-through;
}
.boxSaleOff {
    box-sizing: border-box;
    background-color: #007aff;
    font-size: smaller;
    text-transform: uppercase;
    width: 90%;
    margin-left: 20%;
    border-radius: 5px;
    margin-top: 5%
}
.priceCol {
    flex-direction: column;
}
.rowTitle {
    flex-direction: row;
    display: flex;
}
.viewMoreButton {
    font-size: 80%;
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    padding: 3px;
}
.viewMoreButton:hover {
    background-color: rgba(245, 245, 245, 0.2);
    transition: 0.5s;
}
footer {
    background-color:rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-top: 5%;
}
.footerLink {
    color: rgba(255, 245, 245, 0.75);
    text-decoration: none;
}
/* The Produc detail page */
.fullProductContainer {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 40%;
}
.theFirstHalf {
flex-direction: row;
display: flex;
justify-content: center;
}
.productDetail {
    margin-left: 5%;
    width: 50%;
}
.productLinkTo span {
    font-size: 60%;
    color: rgba(245, 245, 245, 0.7);
}
.productName h3 {
font-weight: bolder;
}
.productImage {
    width: 25%;
}
.productPrice {
    margin-top: 5%;
    font-weight: bolder;
}
.quanityLeft {
    font-size: 60%;
    color: rgba(245, 245, 245, 0.7);
}
#Quanity {
    border-radius: 8px;
    color: white;
    background-color: rgba(245, 245, 245, 0.2);
}
#Quanity option {
    background-color: rgb(18, 18, 18);
}
.addToCart {
    margin-left: 5%;
    border: 1px solid #4B4270;
    background-color: #4B4270;
    padding: 1% 2%;
    border-radius: 8px;
    cursor: pointer;
}
.addToCart:hover {
    filter: brightness(0.4);
    transition: 0.3s;
}
.productDescribe {
    white-space: pre-wrap;
}
.productAbout {
    margin-top: 3%;
    font-weight: bolder;
    font-size: 80%;
}
.relatedProduct {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.relatedTitle {
    display: flex;
    justify-content: center;
    font-size: 150%;
    font-weight: bolder;
}
.cardContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.cardProduct {
    padding-inline: smaller;
    padding: 1% 0;
    margin-inline: 2%;
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cardImg {
    width: 50%;
}
.cardName {
    font-weight: bolder;
    color: whitesmoke;
    margin-top: 2%;
}
.cardPrice {
    margin-top: 1%;
    color: rgba(245, 245, 245, 0.8);
}
